#btncolor {
     background-color: green;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
#sideBar {
  position:fixed;
  margin-top:94px;
  width : 15%;
}
#login{
  background-color: lightblue;
  width: 300px;
  border: 25px solid grey;
  padding: 25px;
  margin: 25px;
}
#form
{
  color:pink;

}
#mylogin{
width: 100%;
}
#myform
{

  background-color: lightblue;
  width: 300px;
  border: 25px solid grey;
  padding: 15px;
  margin: 35px;
  width: 100%;

}
.label {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}


.in-place-edit {

  white-space: pre-wrap;
}


.in-place-edit{
  display: inline-block;
  background: #F0F0FF;
  padding: 5px;
}


.results {
  margin-top: 20px;
}

.value-data {
  white-space: pre-wrap;
}
