<md-toolbar class="md-toolbar-tools" style="position:fixed">
  <button ng-click="toggleLeft()"  class="md-button md-raised md-primary md-icon-button">
        <md-icon>
          <i class="material-icons">&#xE896;</i>
        </md-icon>
  </button>
  <span class="md-toolbar-tools" >Mobile Online Shopping</span>
  <md-button class="md-button" style="text-align:right" ng-click="Logout()" >Logout</md-button>
  <md-button class="md-button" style="text-align:right" ng-click="ToDo()" >ToDo</md-button>

</md-toolbar>
